body {
    background: rgb(255, 140, 197);
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    font-size: 40px;
    margin: 10px;
}

#image {
    margin: 20px;
}

#newbtn {
    font-size: 20px;
    background-color: rgb(255, 62, 165);
    border: solid 2px black;
    border-radius: 12px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}

#newbtn:hover {
    background-color: deeppink;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}